:root {
    --background: rgb(255, 250, 242);
    --page-border: rgb(255, 219, 161);
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*
    My Code --------------------------------------------*/

body {
    max-width: 100%;
    margin: 0px;
    background-color: var(--background);
}

#owned {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    column-gap: 30px;
    
}

.plant{
    justify-items: center;
    border-style: double;
    padding: 10px;
    background-color: white;
}
.plant-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.plant-info {
    display: grid;
    justify-items: center;
}


.image {
    width: 80%;
}

.sun {
 width: 100%;
    display: flex;
    justify-self: start;
}


/*Page Border--------------------------------------------*/

#left {
    background: var(--page-border);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15px;
    left: 0;
}

#right {
    background: var(--page-border);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15px;
    right: 0;
}

#top {
    background: var(--page-border);
    position: fixed;
    left: 0;
    right: 0;
    height: 15px;
    top: 0;
}

#bottom {
    background: var(--page-border);
    position: fixed;
    left: 0;
    right: 0;
    height: 15px;
    bottom: 0;
}