@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
    --background: rgb(255, 250, 242);
    --dark-background: rgb(227, 216, 197);
    --page-border: rgb(94, 113, 143);
    --dark-border: rgb(55, 67, 87);
    --card-color: rgb(123, 145, 179);
}
.container{

}

header {
    margin: 50px;
    display: flex;
    justify-content: center;
    border-style: double;
    padding: 10px;
    background-color: var(--card-color);
    box-shadow: -5px 5px #888888;
}
body {
    max-width: 100%;
    margin: 0px;
    background-color: var(--background);
    font-family: 'Courgette', cursive;
    /*color: antiquewhite;*/
    color: red;
}

#owned {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 50px;
    justify-content: center;
    
}

.plant {
    justify-items: center;
    border-style: double;
    padding: 10px;
    
    background-color: var(--card-color);
    box-shadow: -5px 5px var(--page-border);
}
.plant-header {
    display: grid;
    grid-template-columns: 7fr 4fr;
    align-items: center;
    height: 25%;
    
}
.plant-info {
    display: grid;
    justify-items: center;
}


.image {
    width: 80%;
    border: 5px dotted var(--dark-border);
}

.sun {
 width: 100%;
    display: flex;
    justify-self: start;
}


/*Page Border--------------------------------------------*/

#left {
    background: var(--page-border);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15px;
    left: 0;
}

#right {
    background: var(--page-border);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15px;
    right: 0;
}

#top {
    background: var(--page-border);
    position: fixed;
    left: 0;
    right: 0;
    height: 15px;
    top: 0;
}

#bottom {
    background: var(--page-border);
    position: fixed;
    left: 0;
    right: 0;
    height: 15px;
    bottom: 0;
}

/*Add Plant--------------------------------*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
  color: black;
   padding: 12px 16px;
        text-decoration: none;
        display: block;
 }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn, #submit:hover {
    background-color: #3e8e41;
}

#add {
    width: 40px;
}

#submit {
    background-color: #4CAF50; /* Green */
    border: none;
}