@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
    --background: rgb(255, 250, 242);
    --page-border: rgb(94, 113, 143);
    --dark-border: rgb(55, 67, 87);
    --card-color: rgb(123, 145, 179);
}
.container{

}

header {
    margin: 50px;
    display: flex;
    justify-content: center;
    border-style: double;
    padding: 10px;
    background-color: var(--card-color);
    box-shadow: -5px 5px #888888;
}
body {
    max-width: 100%;
    margin: 0px;
    background-color: var(--background);
    font-family: 'Courgette', cursive;
    color: antiquewhite;
}

#owned {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 50px;
    justify-content: center;
    
}

.plant {
    justify-items: center;
    border-style: double;
    padding: 10px;
    
    background-color: var(--card-color);
    box-shadow: -5px 5px var(--page-border);
}
.plant-header {
    display: grid;
    grid-template-columns: 7fr 4fr;
    align-items: center;
    height: 25%;
    
}
.plant-info {
    display: grid;
    justify-items: center;
}


.image {
    width: 80%;
    border: 5px dotted var(--dark-border);
}

.sun {
 width: 100%;
    display: flex;
    justify-self: start;
}


/*Page Border--------------------------------------------*/

#left {
    background: var(--page-border);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15px;
    left: 0;
}

#right {
    background: var(--page-border);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15px;
    right: 0;
}

#top {
    background: var(--page-border);
    position: fixed;
    left: 0;
    right: 0;
    height: 15px;
    top: 0;
}

#bottom {
    background: var(--page-border);
    position: fixed;
    left: 0;
    right: 0;
    height: 15px;
    bottom: 0;
}